@charset"UTF-8";
 @import url(font-awesome.min.css);
 @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
 html {
    height: 100%;
}
body {
    text-transform:uppercase;
    line-height: 1;
    color:#6a6f8c;
    -webkit-text-size-adjust: none;
    height: 100%;
    background-image:url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}
body.is-loading:after {
    opacity: 1;
}
body, input, select, textarea {
    color: #414f57;
    font-family:"Source Sans Pro", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2em;
}
@media screen and (max-width: 1680px) {
    body, input, select, textarea {
        font-size: 11pt;
    }
}
@media screen and (max-width: 480px) {
    body, input, select, textarea {
        font-size: 10pt;
        line-height: 1.75;
    }
}
/*
#upid {
    display:none;
}
*/
 a {
    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
    text-decoration: none;
}
a:before {
    -moz-transition: color 0.2s ease, text-shadow 0.2s ease;
    -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
    -ms-transition: color 0.2s ease, text-shadow 0.2s ease;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}
a:hover {
    color: #ff7496;
}
strong, b {
    color: #313f47;
}
em, i {
    font-style: italic;
}
p {
    margin: 0 0 1.5em 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #313f47;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}
h1 {
    font-size: 1.85em;
    letter-spacing: 0.22em;
    margin: 0 0 0.525em 0;
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 1em;
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.65em;
    }
}
sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}
sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}
.hr {
    size:100px;
    margin: 3em 0;
    display:none;
}
/* Form */
 form {
    margin: 1em 0 1.5em 0;
}
form > .field {
    margin: 0 0 1.5em 0;
}
form > .field > :last-child {
    margin-bottom: 0;
}
label {
    color: #313f47;
    display: block;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}
label.tab {
    display: inline;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size:25px;
    font-weight: 50px;
    padding-left: 25px;
    padding-right: 25px;
    color: #414f57;
    text-decoration: none;
    cursor: pointer;
}
tab :before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: solid 1px #c8cccf;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    height: 2.75em;
}
.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}
textarea {
    padding: 0.75em 1em;
}
/* Button */
 .login-form .group .button, .button, .idUpload {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: inline-block;
    height: 2.75em;
    line-height: 2.75em;
    width:auto;
    padding: 0 1.5em;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #c8cccf;
    color: #414f57 !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform:uppercase;
}
.idUpload {
    border:none;
    display:inline;
}
.login-form .group .button:hover, .idUpload:hover {
    border-color: #ff7496;
    color: #ff7496 !important;
}
.login-form .group {
    border-color: #ff7496;
    color: #0c43a5 !important;
}
.login-form .group .button .icon, button .icon, .idUpload {
    padding-left: 1.35em;
}
.login-form .group .button.icon:before, button.icon:before, .idUpload:before {
    margin-right: 0.5em;
}
.login-form .group .button.fit, button.fit, .idUpload.fit {
    display: block;
    width: 100%;
    margin: 0 0 0.75em 0;
}
.login-form .group .button.small, button.small, .idUpload.small {
    font-size: 0.8em;
}
.login-form .group .button.big, button.big, .idUpload.big {
    font-size: 1.35em;
}
.login-form .group .button.disabled, .login-form .group .button:disabled, button.disabled, button:disabled, .idUpload:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.5;
}
/*Main*/
 .login-html {
    position: relative;
    min-width: 430px;
    min-height:770px;
    padding: 4.5em 3em 3em 3em;
    background-color:#FFF;
    border-radius: 4px;
    cursor: default;
    opacity: 0.95;
    text-align: center;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
}
.login-html .avatar {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
}
.login-html .avatar img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 0 1.5em #ffffff;
}
.login-html .avatar:before {
    content:'';
    display: block;
    position: absolute;
    top: 50%;
    left: -3em;
    width: calc(100% + 6em);
    height: 1px;
    z-index: -1;
    background: #c8cccf;
}
@media screen and (max-width: 480px) {
    .login-html {
        min-width: 0;
        width: 100%;
        padding: 4em 2em 2.5em 2em;
    }
    .login-html .avatar:before {
        left: -2em;
        width: calc(100% + 4em);
    }
}
/*Wrapper*/
 .login-wrap {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
}
.login-wrap > * {
    z-index: 1;
}
.login-wrap:before {
    content:'';
    display: block;
}
@media screen and (max-width: 360px) {
    .login-wrap {
        padding: 0.75em;
    }
}
body.is-ie .login-wrap {
    height: 100%;
}
.login-html .sign-in-htm, .login-html .sign-up-htm {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    -webkit-transform:rotate(0);
    -ms-transform:rotate(0);
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    -webkit-transform:rotate(0);
    -ms-transform:rotate(0);
    transform:rotate(0);
}
.login-html .sign-in, .login-html .sign-up, .login-form .group .check {
    display:none;
}
.login-html .sign-in:checked + .tab, .login-html .sign-up:checked + .tab {
    color:#1161EE;
}
.login-form {
    min-height:345px;
    position:relative;
    -webkit-perspective:1000px;
    perspective:1000px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.login-form .group .input {
    margin-bottom:15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: solid 1px #c8cccf;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0em 0em;
	text-indent:10px;
	text-decoration:none;
    width: 100%;
}
.login-form .group .select {
    text-transform:uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
.login-form .group input[data-type="password"] {
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label {
    color:#414f57;
    font-size:15px;
    margin-bottom:auto;
}
.foot-lnk {
    margin-top:15px;
    text-align:center;
}
.login-form {
    position:relative;
    -webkit-perspective:1000px;
    perspective:1000px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.login-form .group .label, .login-form .group .input, {
    width:100%;
    display:block;
}
.input:focus {
    margin-bottom:10px;
}